.bg{
    /*background-image: url("bg.jpg");*/
    background: black;
}

.card.small {

    background: green;
}

.grey-text.text-darken-4 {
    color: #eee !important;
}

.card .card-title {
    font-size: 21px;
    font-weight: 350;
}

.modal .modal-content {
    padding: 24px;
    background:green;
}

html {

    color: white;
}

.input-field .prefix.active {
    color: white;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
 
    border-bottom: 1px solid white;
    
}

h4 {
    
    text-align: center;
}

.btn-large {
   
    margin-left: 350px;
}

.modal.modal-fixed-footer .modal-footer {
 
    background: green;
}

.power{
      font-size: 25px;
       font-weight:350;
}

.modal.modal-fixed-footer .modal-content {
    
    overflow-y: hidden;
    overflow-x: hidden;
}

.btn-flat {
 
    color: #f5f5f5;
  
}

.llama_power{
    height: 100px;
    width: 150px;
    margin-left: 155px;
}

.cal{
    margin-left:  420px;
}
.fun_fact{
    color: black;
}


.span .grey-text.text-darken-4 .fun_fact{
    color: black
}

.send{
    margin-left: 100px;
}


.images{
   margin:100px;
}